$light-background: #F9FBFC;
$light-background-2: #F4F8FB;

$white: #FFFFFF;
$button-blue-background: #F0F6FA;
$blue: #34739D;
$light-gray: #93989C;
$gray: #51585F;
$yellow: #FFF200;

@mixin secondary-button {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  background-color: $light-background;
  border: 1px solid $light-background-2;

  img {
    transition: 0.3s;
  }
  &:hover {
    background-color: $light-background-2;
    transition: 0.3s;

    img {
      transform: scale(1.2);

    }
  }

  &.disabled {
    background-color: $light-background;
    cursor: not-allowed;
    color: $light-gray;
    border-color: $light-gray;
    text-decoration: line-through;

    img {
      transform: none;
      opacity: 0.3;
    }
  }

  &.selected {
    background-color: $button-blue-background;
    border: 1px solid $blue;
    font-weight: 400;
  }
}

@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter-VariableFont_opsz,wght.ttf) format('woff2');
}

body {
  font-family: "Inter", sans-serif;
  background-color: $white;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: inherit;
}

.container {
  width: 95%;
  margin: auto;
}

header{
  position: fixed;
  background-color: #FFFFFF;
  padding: 30px 0;
  width: 100%;
  font-size:24px;
}

.bread-cramps {
  a{
    text-decoration: underline;
    color: $gray;
  }
  .current{
    font-weight: 600;
    color: $blue;
  }
}


.gallery-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;

  .gallery {
    display: flex;
    gap: 16px;
    flex-direction: column;

    .gallery__main-img {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      overflow: hidden;
      aspect-ratio: 1;
      background-color: $light-background;
      border: 1px solid $light-background-2;

      &:hover {
        background-color: $light-background-2;
        transition: 0.3s;
      }

      img{
        width: 100%;
      }
    }

    .gallery__preview-list {
      display: flex;
      gap: 16px;

      .gallery__preview-item {
        width: 20%;
        padding: 6px;
        display: flex;
        justify-content: center;
        aspect-ratio: 1;

        @include secondary-button;
      }
    }
  }

  .parameters {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .params__name {
      font-size: 32px;
      font-weight: 700;
    }

    .params__price {
      font-size: 24px;
      font-weight: 700;
    }

    .params__colour-caption {
      margin-bottom: 16px;
    }

    .params__colour-list {
      display: flex;
      gap: 8px;
      margin-bottom: 16px;

      .params__colour-item {
        @include secondary-button;

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        img {
          width: 80%;
        }
      }
    }

    .params__size-list {
      display: grid;
      grid-template-columns: repeat(5, auto);
      gap: 8px;

      button {
        @include secondary-button;

        border-radius: 8px;
        padding: 8px 16px;
        font-size: 20px;
      }
    }
  }

  .params__size-guide-btn {
    margin-top: 10px;
    font-size: 18px;
    float: right;
    cursor: pointer;
    color: $gray;

    &:hover {
      color: $blue;
    }
  }

  .like-btn{
    display: none;
    aspect-ratio: 1;
    border: 1px solid;
    border-radius: 8px;
    &.like-btn-gallery{
      top: 0;
      right: 0;
      margin-top: 20px;
      margin-right: 20px;
      position: absolute;
      display: flex;
      align-items: center;
    }

    &.active{
      border-color: $blue;

      svg{
        fill: $blue
      }
    }
  }
  .params-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #FFFFFF;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    gap: 10px;
    .params-footer__add-to-cart-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-weight: 700;
      font-size: 16px;
      background-color: $yellow;
      padding: 10px;
      width: 90%;
      border-radius: 8px;

      cursor: pointer;
      transition: 0.3s;

      &:hover {
        opacity: 0.8;
      }
    }

    .params-footer__compare-btn{
      &:hover {
        opacity: 0.8;
      }
      &:hover {

        svg{
          fill: $blue;
        }

      }
    }
  }
}

.tabs {
  background-color: $light-background-2;


  .tabs__header {
    padding: 24px;
    border-bottom: 1px solid $light-background-2;

    .tabs__header-item {
      font-size: 18px;
      cursor: pointer;
      font-weight: 700;

      &.selected {
        font-weight: bold;
        color: $blue;
      }
    }
  }

  .tabs__content {
    padding: 0 20px;

    .tabs__content-item {
      &.hidden {
        display: none;
      }
    }
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark background */
  z-index: 9999;
  justify-content: center;
  align-items: center;

  &.open {
    display: flex;;
  }

  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 10000;

    .modal__header {
      display: flex;
      justify-content: space-between;

      .modal__header-title {
        font-size: 28px;
        font-weight: 700;
      }

      .modal__close-btn {
        cursor: pointer;
        font-size: 24px;
      }
    }
    .modal__content-wrapper{
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
    }
  }
}


@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }

  .gallery-wrapper {
    gap: 24px;

    .gallery {


      .gallery__preview-list {
        grid-template-columns: repeat(6, 1fr);
      }
    }

    .params__colour-list{
      .params__colour-item{
          aspect-ratio: 1.5;
        img{
          height: fit-content;
        }
      }
    }
    .like-btn{
      display: block;
      &.like-btn-gallery{
        display: none;
      }
    }
    .params-footer{
      position: relative;


    }
  }

}
@media screen and (min-width: 1024px) {
  .container {
    width: 90%;
  }

  header{
    position: relative;
    padding: 36px 0;
    width: 100%;
    font-size:16px;
  }

  .gallery-wrapper {
    flex-direction: row;
    gap: 48px;

    .gallery{
      width: 50%;
    }

    .parameters{
      width: 50%;
      .params__colour-caption {
        font-size: 16px;
      }

      .params__size-list {
        button {
          font-size: 16px;
        }
      }

      .params__size-guide-btn {
        font-size: 14px;
      }
    }

  }

  .modal-overlay {
    .modal {
      max-width: 800px;
      padding: 20px 30px;
      .modal__content-wrapper{
        flex-direction: row-reverse;
        align-items: center;
        img{
          width: 100%;
          aspect-ratio: 1;
        }
      }
    }
  }

  .tabs{
    .tabs__header{
      .tabs__header-item {
        font-size: 16px;
      }
    }

    .tabs__content {
      padding: 0 30% 10px 24px;
    }
  }
}


@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: auto;
  }

  .gallery-wrapper {
    .gallery {
      width: 65%;
    }
  }
}